body {
  padding: 0px;
  margin: 0px;
}
label {
  height: 100px;
}
#outer {
  display: block;
  margin-top: 175px;
}
.passbox {
  text-align: center;
  display: flex;
  justify-content: center;
}
.emailbox {
  display: flex;
  justify-content: center;
  text-align: center;
}
.email {
  height: 100px;
  width: 435px;
  border: 1px solid black;
}
.password {
  height: 100px;
  width: 435px;
  border: 1px solid black;
}

.iconback i {
  font-size: 50px;
  margin-top: 25px;
}
.iconback {
  display: inline-block;
  background: #c7bdbd;
  width: 100px;
  height: 102px;
  border: 1px solid black;
}
input[type="checkbox"] {
  zoom: 1;
}
#redbutton {
  text-align: center;
}
.redbutton {
  background-color: #941212;
  color: white;
  height: 50px;
  width: 300px;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 10px;
}
.smlbuttons {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
}
.smlbuttons span {
  font-weight: 600;
}
.toggle__text {
  font-size: 20px;
}
#toggletext2 {
  display: inline-block;
  margin-top: 10px;
}
